{% extends 'base.html' %}

{% block content %}
{% if request.GET.command == "verification" %}
  <div class="container mt-5">
    <div class="alert alert-info">
      Thank you for registering with us! We have sent an email to your email address. Please verify your email: {{ request.GET.email }}
    </div>
    <p>Already verified? <a href="{% url 'user_login' %}">Login</a></p>
  </div>
{% elif request.GET.command == "reset_password" %}
  <div class="container mt-5">
    <div class="alert alert-info">
      We have sent a link to your email address. Please check your email ({{ request.GET.email }}) and click the link to reset your password.
    </div>
  </div>
{% else %}
  <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Login</h2>
                    <form action="{% url 'user_login' %}" method="post" novalidate class="mx-auto bg-light p-4 mb-4 rounded">
                      {% csrf_token %}

                      {% if UserAuthenticationForm.non_field_errors %}
                        {% for error in UserAuthenticationForm.non_field_errors %}
                          <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                      {% endif %}
                        {% for item in UserAuthenticationForm %}

                        <div class="form-group">
                            <label for="{{ item.auto_id }}" class="form-label">{{ item.label }}</label>

                                  {{ item }}
                                  {% if item.help_text %}
                                    <small class="form-text text-muted">{{ item.help_text }}</small>
                                  {% endif %}
                                  {% if item.errors %}
                                    <div class="invalid-feedback d-block">{{ item.errors }}</div>
                                  {% endif %}

                        </div>

                    {% endfor %}

                      <button type="submit" class="btn btn-primary w-100 mt-3">Log in</button>
                    </form>

                      <div class="d-flex justify-content-center flex-column">
                        <div class="p-1">
                          <p>Not have an account? <a href="{% url 'user_registration' %}" class="text-md fw-bold">Create New</a> </p>
                        </div>
                        <div class="p-1  fw-medium">
                          <a href="{% url 'user_forgotten_password' %}">Forgotten Password?</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </div>

{% endif %}


    <script>
    function togglePassword(element) {
      const passwordInput = element.parentElement.previousElementSibling;
      passwordInput.type = passwordInput.type === "password" ? "text" : "password";
      const icon = passwordInput.type === "password" ? "fa-eye" : "fa-eye-slash";
      element.querySelector("i").classList.remove("fa-eye", "fa-eye-slash");
      element.querySelector("i").classList.add(icon);
    }

    {#function togglePassword(element) {#}
    {#  const passwordInput = element.parentElement.parentElement.querySelector('input[type="password"]');#}
    {#  console.log("pass input>>: ", passwordInput)#}
    {#  passwordInput.type = passwordInput.type === "password" ? "text" : "password";#}
    {#  const icon = passwordInput.type === "password" ? "fa-eye" : "fa-eye-slash";#}
    {#  element.querySelector("i").classList.remove("fa-eye", "fa-eye-slash");#}
    {#  element.querySelector("i").classList.add(icon);#}
    {# } #}

        {# function togglePassword(element) {#}
        {#  const passwordInput = element.previousElementSibling;#}
        {#  if (passwordInput.type === "password") {#}
        {#    passwordInput.type = "text";#}
        {#    element.innerHTML = '<i class="fa-solid fa-eye-slash"></i>'#}
        {#      element.innerHTML =` <button class="btn btn-outline-secondary" type="button" id="togglePassword">#}
        {#            <i class="fa-solid fa-eye-slash"></i>#}
        {#          </button>`#}
        {##}
        {#  } else {#}
        {#    passwordInput.type = "password";#}
        {#      element.innerHTML = ` <button class="btn btn-outline-secondary" type="button" id="togglePassword">#}
        {#            <i class="fa-solid fa-eye"></i>#}
        {#          </button>`#}
        {##}
        {#  }#}
        {# } #}


         {#const togglePassword = document.querySelector('#togglePassword');#}
         {#       const password = document.querySelector('#password');#}
         {#   #}
         {#   togglePassword.addEventListener('click', function (e) {#}
         {#     // toggle the type attribute#}
         {#     const type = password.getAttribute('type') === 'password' ? 'text' : 'password';#}
         {#     password.setAttribute('type', type);#}
         {#     // toggle the eye icon#}
         {#     this.querySelector('i').classList.toggle('bi-eye');#}
         {#     this.querySelector('i').classList.toggle('bi-eye-slash');#}
          {#    });  #}
    </script>



{% endblock content %}