<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset password</title>
</head>
<body>
<form action="{% url 'user_reset_password' %}" method="post" novalidate>
    {% csrf_token %}
    <fieldset>
        <legend>Change Password</legend>
            {% if password_change_form.non_field_errors %}
                {% for error in password_change_form.non_field_errors %}
                    <p class="er">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% for item in password_change_form %}
                {{ item.legend_tag}}
                {{ item }}
                {{ item.errors | striptags }}
                <br> <br>
            {% endfor %}

        <input type="submit" value="Save">
    </fieldset>

</form>

</body>
</html>