<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
<form action="{% url 'user_change_password' %}" method="post" novalidate>
    {% csrf_token %}
    <fieldset>
        <legend>Change Password</legend>
            {% if PasswordChangeForm.non_field_errors %}
                {% for error in PasswordChangeForm.non_field_errors %}
                    <p class="er">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% for item in PasswordChangeForm %}
                {{ item.legend_tag}}
                {{ item }}
                {{ item.errors | striptags }}
                <br> <br>
            {% endfor %}

        <input type="submit" value="Save">
    </fieldset>

</form>
<a href="{% url 'user_forgotten_password' %}">forgotten password</a>

</body>
</html>