<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if request.GET.command == "verification" %}
   <div class="container">
    <h1>Thank you for registering with us! We are sent a email to your email address. Please verify your email. {{ request.GET.email }}</h1>
   </div>
    already verified? <a href="{% url 'user_login' %}">Login</a>
{% elif request.GET.command == "reset_password" %}
    <h1>
        We are sent a link to your email address. Please check your email[{{ request.GET.email }}]
        and click the link to reset your password
    </h1>

{% else %}

<form action="{% url 'user_login' %}" method="post" novalidate>
    {% csrf_token %}
    <fieldset>
        <legend>Login</legend>
            {% if UserAuthenticationForm.non_field_errors %}
                {% for error in UserAuthenticationForm.non_field_errors %}
                    <p class="er">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% for item in UserAuthenticationForm %}
                {{ item.legend_tag}}
                {{ item }}
                {{ item.errors | striptags }}
                <br> <br>
            {% endfor %}

    <input type="submit" value="Submit">
    </fieldset>

</form>
    <div>
        <a href="{% url 'user_registration' %}">Sign Up</a>
    </div>
    <div>
        <a href="{% url 'user_forgotten_password' %}"> Forgotten Password </a>

    </div>

{% endif %}


</body>
</html>