{% extends 'base.html' %}
{% block content %}
<form action="{% url 'user_reset_password' %}" method="post" novalidate>
    {% csrf_token %}
    <fieldset>
        <legend>Reset Password</legend>
            {% if PasswordResetForm.non_field_errors %}
                {% for error in PasswordResetForm.non_field_errors %}
                    <p class="er">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% for item in PasswordResetForm %}
                {{ item.legend_tag}}
                {{ item }}
                {{ item.errors | striptags }}
                <br> <br>
            {% endfor %}

        <input type="submit" value="Save">
    </fieldset>

</form>

{% endblock content %}