
<div class="col d-flex align-items-center justify-content-end">
  <span class="input-group-prepend d-lg-none searchButton" id="searchMenu" data-bs-toggle="dropdown"
              aria-expanded="false" data-bs-auto-close="outside" type="button">
                <div class="input-group-text bg-white border-0 rounded-circle" style="min-height: 40px">
                  <i class="fas fa-search text-muted"></i>
                </div>
  </span>
    <a class="rounded-circle p-1 d-flex align-items-center justify-content-center text-decoration-none black" style="width: 38px; height: 38px"
            type="button" id="offers"  href="{% url 'offers' %}">
        <i class="fa-solid fa-box-open"></i>
    </a>


    <!-- chat -->
{#    <div class="rounded-circle p-1 bg-gray d-flex align-items-center justify-content-center mx-1 mx-lg-2" style="width: 38px; height: 38px"#}
{#            type="button" id="chatMenu" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">#}
{#        <i class="fa-solid fa-box-open"></i>#}
{#    </div>#}

    <!-- chat  dd -->
    <ul class="dropdown-menu border-0 shadow p-3 overflow-auto" aria-labelledby="chatMenu" style="width: 23em; max-height: 600px">
        <!-- header -->
        <li class="p-1">
            <div class="d-flex justify-content-between">
                <h2>Message</h2>
                <div>
                    <!-- setting -->
                    <i class="fas fa-ellipsis-h text-muted mx-2" type="button" data-bs-toggle="dropdown"></i>
                    <!-- setting dd -->
                    <ul class="dropdown-menu shadow" style="width: 18em">
                        <!-- title -->
                        <div class="p-2">
                            <h5>Chat Settings</h5>
                            <span class="text-muted fs-7"
                            >Customize your Messenger experience.</span
                            >
                        </div>
                        <hr/>
                        <!-- incoming sound -->
                        <li>
                            <div
                                    class="dropdown-item d-flex align-items-center justify-content-between"
                            >
                                <!-- icon -->
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-phone-alt me-3"></i>
                                    <p class="m-0">Incoming call sounds</p>
                                </div>
                                <!-- toggle -->
                                <div class="form-check form-switch m-0">
                                    <input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="flexSwitchCheckChecked"
                                            checked
                                    />
                                    <label
                                            class="form-check-label"
                                            for="flexSwitchCheckChecked"
                                    ></label>
                                </div>
                            </div>
                        </li>
                        <!-- message sound -->
                        <li>
                            <div
                                    class="dropdown-item d-flex align-items-center justify-content-between"
                            >
                                <!-- icon -->
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-volume-off me-4 fs-4"></i>
                                    <p class="m-0">Message sounds</p>
                                </div>
                                <!-- toggle -->
                                <div class="form-check form-switch m-0">
                                    <input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="flexSwitchCheckChecked"
                                            checked
                                    />
                                    <label
                                            class="form-check-label"
                                            for="flexSwitchCheckChecked"
                                    ></label>
                                </div>
                            </div>
                        </li>
                        <!-- popup message -->
                        <li>
                            <div
                                    class="dropdown-item d-flex align-items-center justify-content-between"
                            >
                                <!-- icon -->
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-spinner me-3"></i>
                                    <p class="m-0">Pop-up new messages</p>
                                </div>
                                <!-- toggle -->
                                <div class="form-check form-switch m-0">
                                    <input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="flexSwitchCheckChecked"
                                            checked
                                    />
                                    <label
                                            class="form-check-label"
                                            for="flexSwitchCheckChecked"
                                    ></label>
                                </div>
                            </div>
                            <span class="ms-5 text-muted fs-7"
                            >Automatically open new messages.</span
                            >
                        </li>
                        <hr class="m-0"/>
                        <!-- item 1 -->
                        <li>
                            <div
                                    class="dropdown-item d-flex align-items-center justify-content-between"
                            >
                                <!-- icon -->
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-toggle-off me-3"></i>
                                    <p class="m-0">Turn Off Active Status</p>
                                </div>
                            </div>
                        </li>
                        <!-- item 2 -->
                        <li>
                            <div
                                    class="dropdown-item d-flex align-items-center justify-content-between"
                            >
                                <!-- icon -->
                                <div class="d-flex align-items-center">
                                    <i class="far fa-comment-alt me-3"></i>
                                    <p class="m-0">Message Request</p>
                                </div>
                            </div>
                        </li>
                        <!-- item 3 -->
                        <li>
                            <div
                                    class="dropdown-item d-flex align-items-center justify-content-between"
                            >
                                <!-- icon -->
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-share-square me-3"></i>
                                    <p class="m-0">Message delivery settings</p>
                                </div>
                            </div>
                        </li>
                        <!-- item 4 -->
                        <li>
                            <div
                                    class="dropdown-item d-flex align-items-center justify-content-between"
                            >
                                <!-- icon -->
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-shield-alt me-3"></i>
                                    <p class="m-0">Block settings</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <i
                            class="fas fa-expand-arrows-alt text-muted mx-2"
                            type="button"
                    ></i>
                    <!-- new message -->
                    <i
                            class="fas fa-edit text-muted mx-2"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#newChat"
                    ></i>
                </div>
            </div>
        </li>
        <!-- search -->
        <li class="p-1">
            <div
                    class="input-group-text bg-gray border-0 rounded-pill"
                    style="min-height: 40px; min-width: 230px"
            >
                <i class="fas fa-search me-2 text-muted"></i>
                <input
                        type="text"
                        class="form-control rounded-pill border-0 bg-gray"
                        placeholder="Search Messenger"
                />
            </div>
        </li>
        <!-- message 1 -->
        <li
                class="my-2 p-1"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#singleChat1"
        >
            <div
                    class="d-flex align-items-center justify-content-between"
            >
                <!-- big avatar -->
                <div
                        class="d-flex align-items-center justify-content-evenly"
                >
                    <div class="p-2">
                        <img
                                src="https://source.unsplash.com/random/1"
                                alt="avatar"
                                class="rounded-circle"
                                style="width: 58px; height: 58px; object-fit: cover"
                        />
                    </div>
                    <div>
                        <p class="fs-7 m-0">Mike</p>
                        <span class="fs-7 text-muted"
                        >Lorem ipsum &#8226; 7d</span
                        >
                    </div>
                </div>
                <!-- small avatar -->
                <div class="p-2">
                    <img
                            src="https://source.unsplash.com/random/1"
                            alt="avatar"
                            class="rounded-circle"
                            style="width: 15px; height: 15px; object-fit: cover"
                    />
                </div>
            </div>
        </li>
        <!-- message 2 -->
        <li
                class="my-2 p-1"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#singleChat2"
        >
            <div
                    class="d-flex align-items-center justify-content-between"
            >
                <!-- big avatar -->
                <div
                        class="d-flex align-items-center justify-content-evenly"
                >
                    <div class="p-2">
                        <img
                                src="https://source.unsplash.com/random/2"
                                alt="avatar"
                                class="rounded-circle"
                                style="width: 58px; height: 58px; object-fit: cover"
                        />
                    </div>
                    <div>
                        <p class="fs-7 m-0">
                            Tuan
                            <span class="fs-7 text-muted"
                            >Lorem ipsum &#8226; 7d</span
                            >
                        </p>
                    </div>
                </div>
                <!-- small avatar -->
                <div class="p-2">
                    <img
                            src="https://source.unsplash.com/random/2"
                            alt="avatar"
                            class="rounded-circle"
                            style="width: 15px; height: 15px; object-fit: cover"
                    />
                </div>
            </div>
        </li>
        <!-- message 3 -->
        <li
                class="my-2 p-1"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#singleChat3"
        >
            <div
                    class="d-flex align-items-center justify-content-between"
            >
                <!-- big avatar -->
                <div
                        class="d-flex align-items-center justify-content-evenly"
                >
                    <div class="p-2">
                        <img
                                src="https://source.unsplash.com/random/3"
                                alt="avatar"
                                class="rounded-circle"
                                style="width: 58px; height: 58px; object-fit: cover"
                        />
                    </div>
                    <div>
                        <p class="fs-7 m-0">Jerry</p>
                        <span class="fs-7 text-muted"
                        >Lorem ipsum &#8226; 7d</span
                        >
                    </div>
                </div>
                <!-- small avatar -->
                <div class="p-2">
                    <img
                            src="https://source.unsplash.com/random/3"
                            alt="avatar"
                            class="rounded-circle"
                            style="width: 15px; height: 15px; object-fit: cover"
                    />
                </div>
            </div>
        </li>
        <!-- message 4 -->
        <li
                class="my-2 p-1"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#singleChat4"
        >
            <div
                    class="d-flex align-items-center justify-content-between"
            >
                <!-- big avatar -->
                <div
                        class="d-flex align-items-center justify-content-evenly"
                >
                    <div class="p-2">
                        <img
                                src="https://source.unsplash.com/random/4"
                                alt="avatar"
                                class="rounded-circle"
                                style="width: 58px; height: 58px; object-fit: cover"
                        />
                    </div>
                    <div>
                        <p class="fs-7 m-0">Tony</p>
                        <span class="fs-7 text-muted"
                        >Lorem ipsum &#8226; 7d</span
                        >
                    </div>
                </div>
                <!-- small avatar -->
                <div class="p-2">
                    <img
                            src="https://source.unsplash.com/random/4"
                            alt="avatar"
                            class="rounded-circle"
                            style="width: 15px; height: 15px; object-fit: cover"
                    />
                </div>
            </div>
        </li>
        <!-- message 5 -->
        <li
                class="my-2 p-1"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#singleChat5"
        >
            <div
                    class="d-flex align-items-center justify-content-between"
            >
                <!-- big avatar -->
                <div
                        class="d-flex align-items-center justify-content-evenly"
                >
                    <div class="p-2">
                        <img
                                src="https://source.unsplash.com/random/5"
                                alt="avatar"
                                class="rounded-circle"
                                style="width: 58px; height: 58px; object-fit: cover"
                        />
                    </div>
                    <div>
                        <p class="fs-7 m-0">Phu</p>
                        <span class="fs-7 text-muted"
                        >Lorem ipsum &#8226; 7d</span
                        >
                    </div>
                </div>
                <!-- small avatar -->
                <div class="p-2">
                    <img
                            src="https://source.unsplash.com/random/5"
                            alt="avatar"
                            class="rounded-circle"
                            style="width: 15px; height: 15px; object-fit: cover"
                    />
                </div>
            </div>
        </li>
        <hr class="m-0"/>
        <a href="#" class="text-decoration-none">
            <p class="fw-bold text-center pt-3 m-0">
                See All in Messenger
            </p>
        </a>
    </ul>
    <!-- notifications -->
    <a href="{% url 'cart' %}" class="rounded-circle p-1 bg-white d-flex align-items-center justify-content-center  text-decoration-none black position-relative"
            style="width: 34px; height: 30px"
            type="button"
            id="notMenu"
    >
        <i class="fa-solid fa-cart-shopping" ></i>

        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger ">{{  cart_count }} </span>
    </a>
{#    <a href="{% url 'cart' %}" class="rounded-circle p-1 bg-white d-flex align-items-center justify-content-center  text-decoration-none black"#}
{#            style="width: 38px; height: 38px"#}
{#            type="button"#}
{#            id="notMenu"#}
{#    >#}
{#        <i class="fa-solid fa-cart-shopping"></i>#}
{##}
{#        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>#}
{#    </a>#}

    <!-- user menu -->
    {% if user.is_authenticated %}
    <div class="rounded-circle p-1 d-flex align-items-center justify-content-center mx-1 mx-lg-2"
            style="width: 38px; height: 38px"
            type="button"
            id="userMenu"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-auto-close="outside"
    >
        {% if user.profile_image %}
         <img src="{{ user.profile_image.url }}" class="rounded-circle me-2" alt="avatar" style="width: 38px; height: 38px; object-fit: cover"/>
        {% else %}
            <i class="fa-solid fa-user rounded-circle me-2"></i>
        {% endif %}
    </div>
    {% include 'includes/navbar/user_menu_dropdown.html' %}
    {#  guest menu #}
    {% else %}
        <div class="rounded-circle p-1  d-flex align-items-center justify-content-center"
            style="width: 38px; height: 38px" type="button" id="guestMenu" data-bs-toggle="dropdown"
             aria-expanded="false" data-bs-auto-close="outside">
         <i class="fa-solid fa-user rounded-circle me-2"></i>
            </div>
        {% include 'includes/navbar/guest_dropdown.html' %}
    {% endif %}



</div>