{% load static %}

<!-- ================= Appbar ================= -->
<div class="bg-white d-flex align-items-center fixed-top shadow" style="min-height: 56px; z-index: 5">
    <div class="container-fluid">
        <div class="row align-items-center">

            <!-- start => main menu & logo-->
            {% include 'includes/navbar/start.html' %}

            <!-- center => search -->
            {% include 'includes/navbar/center.html' %}

            <!-- end offer cart account-menu -->
            {% include 'includes/navbar/end.html' %}

        </div>
    </div>
</div>


