{% extends 'index.html' %}
{% load static %}

{% block title %} Yusro | One of the biggest online shopping platform {% endblock title %}
{% block css %}{% endblock css %}
{% block header %} {% include 'includes/navbar/navbar.html' %}{% endblock header %}
{% block messges %}
    <h1>messages</h1>
 {% endblock messges %}
{% block content %}
    <h1>Body content</h1>
{% endblock content %}
{% block footer %}
    <h1>Footer</h1>
{% endblock footer %}

{% block js %}
   <h1> javascript</h1>
{% endblock js %}
