
{% if messages %}
    <div class="container pt-5 my-5">
    {% for message in messages %}
        <div class="messages alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
          <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}</strong>
         {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    </div>

{% endif %}

